body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid gray;
    padding: 8px;
}

button {
    padding: 5px 10px;
}
