/* UI updated */

body {
    font-family: Arial;
    padding: 20px;
    background:rgba(0, 0, 0, 0.89);
}

.card {
    background-color: white;
    
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.cd{
    background-color: rgba(247, 166, 61, 0.733);
    box-shadow: 0px 0px 7px 0px white;
    color: white;
    font-weight: 900;
    font-size: 19px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.ce{
    background-color: antiquewhite;
}
.cdd{
    /* color: rgb(165, 19, 19); */
    color:aqua;
    font-size:20px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
     text-shadow: 0px 0px 8px rgb(5, 5, 5);
}
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid green;
    padding: 8px;
    color: aqua;
    font-size: 20px;
    text-shadow: 0px 0px 8px rgb(5, 5, 5);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: 900;
    background-color: rgba(247, 166, 61, 0.733);
}

button {
    padding: 5px 10px;
}
.h-1{
    text-align: center;
    color: rgba(255, 255, 255, 0.895);
    font-weight: 800;
    font-size: 28px;
    border: 2px solid  blue;
    padding: 15px 0px;
    border-radius: 10px;
    background-color: blue;
    /* text-shadow: 0px 0px 5px red; */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* box-shadow: 0px 0px 5px 0px black; */
}
.btn{
    color:white;
    font-weight: 600;
    font-size: 15px;
    border-style: none;
    background-color: blue;
    padding: 8px 20px;
    border-radius: 3px;
}
.btn:hover{
    color:white;
    font-weight: 600;
    font-size: 15px;
    border-style: none;
    background-color:rgba(0, 0, 255, 0.596);
    padding: 8px 20px;
    border-radius: 3px;
    cursor: pointer;
}
.ft{
    color: white;
    font-size:10px;
    text-align: center;
}
.cop{
    color: white;
}
 @media only screen and (max-width: 445px){
    body{
        background-color: white;
    }
     .h-1{
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid black;
    padding: 10px 0px;
    border-radius: 10px;
    background-color:yellow;
    /* text-shadow: 0px 0px 5px red; */
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

     }

     .cd{
    background-color: black;
    border: 2px solid red;
    box-shadow: 0px 0px 7px 0px white;
    color: white;
    font-weight: 900;
    font-size: 19px;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.cdd{
    /* color: rgb(165, 19, 19); */
    color: red;
    font-size:20px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
     text-shadow: 0px 0px 8px rgb(5, 5, 5);
}
.ft{
    color: black;
    font-size: 18px;
    font-weight: 500;
}
}

.search-box{
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
}

